a[type="application/rss+xml"] {
    display: none;
}

.post_content>p{
    text-indent: 33px;
    text-align: justify;
    word-break: normal;
}

p.noindent{
    text-indent: 0;
}

@font-face {
    font-family: 'TITLE';
    src: url('https://cdn10.foundertype.com/css/FZYanSJW_Cu/e39ec7968f9024d1fb6f620c2a943056/FZYanSJW_Cu_1740857819.woff');
    font-weight: bold;
}

.site_title a {
    font-family: TITLE, serif;
}